ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
.numbered li a {
  text-decoration: none; // 밑줄 없애기
  color: inherit; // 링크의 색상을 상속받아 사용, 필요에 따라 변경 가능
}
.numbered li a:hover {
  text-decoration: underline; // 호버 시 밑줄 표시
}

// TIMELINE ORDERED LIST
ul.numbered {
  $bullet-line-width: 3px;
  $bullet-color: #b3b3b3;
  $bullet-border-width: $bullet-line-width;
  $bullet-background-color: white;
  $bullet-size: 30px;
  border-left: $bullet-line-width solid $bullet-color;
  counter-reset: numbered-list;
  margin-left: 10px;
  position: relative;

  li {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-left: 30px;
    &:last-child {
      border-left: $bullet-line-width solid $bullet-background-color;
      margin-left: -$bullet-line-width;
    }

    &:before {
      $half-of-font-size: -0.5em;
      background-color: $bullet-color;
      border: $bullet-border-width solid $bullet-background-color;
      border-radius: 50%;
      color: $bullet-background-color;
      content: counter(numbered-list, decimal);
      counter-increment: numbered-list;
      display: block;
      font-weight: bold;
      width: $bullet-size;
      height: $bullet-size;
      margin-top: $half-of-font-size;
      line-height: $bullet-size;
      position: absolute;
      left: -$bullet-size / 2 - $bullet-line-width / 2 - $bullet-border-width;
      text-align: center;
    }
  }
}
